[Unit]
Description=Sincronización diaria de Google Drive con backup externo
After=network-online.target local-fs.target
Wants=network-online.target
RequiresMountsFor=/mnt/endeavouros

[Service]
Type=oneshot
ExecStart=/home/patricioeb/.local/bin/sync_google.sh

[Install]
WantedBy=default.target
